@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "UtahCondensed";
  src: url("../assets/fonts/UtahCondensed-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');